.card-count {
    padding: 5px 45px;
}

.card-count .count {
    font-size: 75px;
    color: #00bb95;
    font-weight: 100;
    line-height: 1.1;
    /* text-align: center; */
}

.card-count .title {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    color: #878787;
}