<div class="summary-header">
    <div class="row">
        <div class="col-md-6">
            <h2>Summary</h2>
        </div>
        <div class="chart-options col-md-6">
            <div class="btn-group">
                <button type="button" 
                    class="chart-option btn btn-secondary btn-md" 
                    (click)="setToAllTime()"
                    [ngClass]="{'selected': timeScale == TimeScale.ALL_TIME}">All-time</button>
                <button type="button" 
                    class="chart-option btn btn-secondary btn-md" 
                    (click)="setToOneYear()">1 Year</button>
                <button type="button" 
                    class="chart-option btn btn-secondary btn-md" 
                    (click)="setToSixMonths()">6 Months</button>
                <button type="button" 
                    class="chart-option btn btn-secondary btn-md" 
                    (click)="setToThreeMonths()">3 Months</button>
            </div>
        </div>
    </div>
</div>
<div class="chart" style="display: block">
    <canvas baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="chartLegend"
        [chartType]="chartType"
        [colors]="chartColors"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
</div>