app {
    width: 100%;
}

html,body {
    height: 100%;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto !important;
    padding: 0px;
    margin: 0px;
    font-weight: 800;
}

.row-fluid {
    display: flex;
}