app {
    width: 100%;
}

html,body {
    height: 100%;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.row-fluid {
    display: flex;
}